<% provide(:heading, "Home") %>

<div class="center jumbotron">
  <h1>Welcome to the Toymart</h1>

</div>

<div>
<%= link_to image_tag("toyimage_960.png", alt: "Toystory",)%>
<%= link_to "SHOP NOW!", 'products', class: "btn btn-lg btn-primary" %>

</div>
