<p id="notice"><%= notice %></p>

<p>
  <strong>Product Name:</strong>
  <%= @product.product_name %>
</p>
<p>
  <strong>Price S$:</strong>
  <%= @product.product_price %>
</p>

<div></div>


<%= link_to 'Back', products_path %>


<div>
  <table class="col-lg-12"></table>

</div>
