<li id="review-<%=review.id %>">
  <span class="user">2<%= link_to review.user.name, review.user %></span>
  <span class="content">3<%= review.content %></span>
  <span class="content">4<%= review.product.productname %></span>

</li>
